body{
  background-color: #252525;
}
h1, .input{
  text-align: center;
}

h1{
  color: white;
}

input{
  height: 30px;
  width: 60%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-style: oblique;
  border-radius: 10px 0 0 10px;
}

button{
  border-radius: 0 10px 10px 0;
  height: 35px;
  width: 6%;
}

ol{
  margin: 0 20rem 0 20rem;
  background-color: white;
  border-radius: 20px;
}

li:nth-child(odd){
  height: 2rem;
  padding-bottom: 0;
  padding-top: .6rem;
  font-weight: bolder;
  color: black;
  background-color: #a0d4ff;
}

li:nth-child(even){
  height: 2rem;
  padding-bottom: 0;
  padding-top: .6rem;
  font-weight: bolder;
  color: black;
  background-color: #57b0fb;
}